# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/files/*
# added manually
*.csv
*.jpeg
/.idea/misc.xml
/.idea/workspace.xml
/.idea/.gitignore
/.idea/flow.iml
/.idea/modules.xml
/.idea/other.xml
/.idea/vcs.xml

