[FORMAT]
max-line-length=120

[BASIC]
# Naming style matching correct argument names. camelCase
argument-naming-style=snake_case

# Naming style matching correct variable names. snake_case camelCase
variable-naming-style=snake_case

# Naming style matching correct method names. snake_case camelCase
method-naming-style=snake_case

# Naming style matching correct function names. snake_case camelCase
function-naming-style=snake_case

# Naming style matching correct constant names. UPPER_CASE camelCase
const-naming-style=UPPER_CASE