torch~=2.0.1
matplotlib~=3.4.3
numpy~=1.21.4
pandas~=1.3.4
pytest~=7.4.3
scikit-learn~=1.2.1
keras~=2.7.0
yfinance~=0.2.10
tensorflow~=2.7.0
Pillow~=8.4.0
graphviz~=0.20.1
utils~=1.0.1
setuptools~=57.4.0
PyYAML~=6.0
statsmodels~=0.14.1